<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>

      <main>
        <% if user_signed_in? %>
          <p id="notice"><%= notice %></p>
          <div class="d-flex justify-content-center mb-2">
            <%= render 'searches/form' %>
          </div>
        <% end %>
        <%= yield %>
      </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
